.App {
  text-align: center;
  border: 2px solid green;
}

.App-element {
  max-width: 400;
}

.text-header {
  color: #282c34;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(4px + 2vmin);
  color: rgb(37, 37, 83);
  max-width: 500px;
  margin: 0 auto;
}

.todolist {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}

.deleted-todo {
  text-decoration: line-through;
  opacity: 0.7;
}